/* ********** Template CSS ********** */

/* Back to top button */
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    color: white;  /* Default text color */
    background-color: black; /* Default background */
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

.back-to-top:hover {
    color: black; /* Hover text color */
    background-color: white; /* Hover background color */
}

/* Spinner */
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/* Button styles */
.btn {
    transition: 0.5s;
    background-color:white;
    color: black;
}

.btn-square, .btn-sm-square, .btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50%;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}


/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: black;
    color: white;
    transition: 0.5s;
    z-index: 999;
}

.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: white; /* Default text color */
    font-weight: 500;
    border-left: 3px solid white; /* Default border color */
    border-radius: 0 30px 30px 0;
    outline: none;
    background-color: black; /* Default background */
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: black; /* Hover text color */
    background: white; /* Hover background color */
    border-color: black;
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: white; /* Default background */
    border-radius: 40px;
    color: black; /* Default icon color */
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: black; /* Hover background */
    color: white; /* Hover icon color */
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: 0.5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: white; /* Default text color */
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: white; /* Hover background */
    color: black; /* Hover text color */
}

/* Content area */
.content {
    margin-left: 252px;
    min-height: 100vh;
    background: black;
    transition: 0.5s;
    
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    color: white; /* Default text color */
    outline: none;
    background-color: black; /* Default background */
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: black; /* Hover text color */
    background: white; /* Hover background color */
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: black; /* Default background */
    border-radius: 40px;
    color: white; /* Default icon color */
}

.content .navbar .dropdown-item {
    color: white; /* Default text color */
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: white; /* Hover background */
    color: black; /* Hover text color */
    
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: 0.5s;
}

.content .navbar .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(-180deg);
}

/* Date Picker */
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
    color: black;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: white; /* Active state hover */
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: white;
}

/* Testimonial */
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid white; /* Default border color */
    border-radius: 15px;
    transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
    background: black; /* Hover background */
    border-color: white; /* Hover border color */
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}
h6{
    color: white;
}
label{
color: white;
}
